// overwrite

// custom
$primary: #f00;
$secondary: #0f0;
$dark: rgb(155, 155, 155);
$light: rgb(104, 79, 79);
$success: #0fa;
$info: #555;
$warning: #ff0;
$danger: rgb(255, 38, 0);

@import '~bootstrap/scss/bootstrap.scss'