// overwrite

// custom
$primary: #f00;
$secondary: #0f0;
$dark: rgb(44, 44, 44);
$light: rgb(49, 49, 49);
$success: #0fa;
$info: #555;
$warning: #ff0;
$danger: rgb(255, 38, 0);



@import '~bootstrap/scss/bootstrap.scss'