// overwrite

// custom
$primary: rgb(0, 225, 255);
$secondary: #0f0;
$dark: rgb(155, 155, 155);
$light: #7633f9;
$success: #0fa;
$info: #555;
$warning: #ff0;
$danger: rgb(255, 56, 21);

@import '~bootstrap/scss/bootstrap.scss'